<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDo-App</title>
</head>
<body>
    <%- include('../partials/form.ejs'); %>
    <ul>
        <% tasks.forEach(function(task) { %>
          <li>
            <h2><%= task.title %></h2>
            <p><%= task.description %></p>
            <button><%= task.done %></button> 
            <a href="/update/task/<%= task._id %>">UPDATE</a>
            <a href="/delete/task/<%= task._id%>">DELETE</a>
          </li>
        <% }); %>
      </ul>
</body>
</html>